.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 0 20px;
}

@media screen and (max-width: 1023px){
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px){
  .grid {
    grid-template-columns: 1fr;
  }
}