.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  position: relative;
  width: min-content;
}

.image {
  display: block;
  aspect-ratio: 1 / 1;
  max-height: 75vh;
  max-width: 75vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0 auto 10px;
}

@media screen and (max-width: 767px){
  .content {
    width: 100%;
    padding: 0 10px;
  }
  .image {
    max-width: 100%;
    width: 100%;
  }
}